@model List<TrgovinaElektronika.Models.Narocilo>

<h2>@(Context.Session.GetString("Uporabnik") == "Admin" ? "Vsa naročila" : "Moja naročila")</h2>

@if (!Model.Any())
{
        <p>Ni najdenih naročil.</p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Uporabnik</th>
                    <th>Datum</th>
                    <th>Skupaj</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var n in Model)
            {
                        <tr>
                            <td>@n.Id</td>
                            <td>@n.UporabnikIme</td>
                            <td>@n.Datum.ToString("dd.MM.yyyy HH:mm")</td>
                            <td>@n.Skupaj €</td>
                            <td><a href="/Narocilo/Podrobnosti/@n.Id">Podrobnosti</a></td>
                        </tr>
            }
            </tbody>
        </table>
}
